################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/
/Celleseum.ApiService/obj/Debug/net10.0/Celleseum.ApiService.AssemblyInfo.cs
/Celleseum.ApiService/obj/Debug/net10.0/Celleseum.ApiService.AssemblyInfoInputs.cache
/Celleseum.AppHost/obj/Debug/net10.0/Celleseum.AppHost.assets.cache
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.AssemblyInfo.cs
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.AssemblyInfoInputs.cache
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.csproj.AssemblyReference.cache
/Celleseum.Web/obj/Debug/net10.0/Celleseum.Web.AssemblyInfo.cs
/Celleseum.Web/obj/Debug/net10.0/Celleseum.Web.AssemblyInfoInputs.cache
/Celleseum.ApiService/obj/Debug/net10.0/Celleseum.ApiService.csproj.AssemblyReference.cache
/Celleseum.AppHost/obj/Debug/net10.0/Celleseum.AppHost.AssemblyInfo.cs
/Celleseum.AppHost/obj/Debug/net10.0/Celleseum.AppHost.AssemblyInfoInputs.cache
/Celleseum.ServiceDefaults/obj/Debug/net10.0/Celleseum.ServiceDefaults.AssemblyInfo.cs
/Celleseum.ServiceDefaults/obj/Debug/net10.0/Celleseum.ServiceDefaults.AssemblyInfoInputs.cache
/Celleseum.Web/obj/Debug/net10.0/Celleseum.Web.csproj.AssemblyReference.cache
/Celleseum.ApiService/obj/Celleseum.ApiService.csproj.nuget.dgspec.json
/Celleseum.ApiService/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Celleseum.ApiService/obj/project.assets.json
/Celleseum.ApiService/obj/project.nuget.cache
/Celleseum.AppHost/obj/Celleseum.AppHost.csproj.nuget.dgspec.json
/Celleseum.AppHost/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Celleseum.AppHost/obj/Debug/net10.0/AppSettingsSchema.json
/Celleseum.AppHost/obj/project.assets.json
/Celleseum.AppHost/obj/project.nuget.cache
/Celleseum.ServiceDefaults/obj/Celleseum.ServiceDefaults.csproj.nuget.dgspec.json
/Celleseum.ServiceDefaults/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Celleseum.ServiceDefaults/obj/project.assets.json
/Celleseum.ServiceDefaults/obj/project.nuget.cache
/Celleseum.Tests/obj/Celleseum.Tests.csproj.nuget.dgspec.json
/Celleseum.Tests/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Celleseum.Tests/obj/project.assets.json
/Celleseum.Tests/obj/project.nuget.cache
/Celleseum.Web/obj/Celleseum.Web.csproj.nuget.dgspec.json
/Celleseum.Web/obj/Celleseum.Web.csproj.nuget.g.props
/Celleseum.Web/obj/Celleseum.Web.csproj.nuget.g.targets
/Celleseum.Web/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Celleseum.Web/obj/Debug/net10.0/Celleseum.Web.assets.cache
/Celleseum.Web/obj/Debug/net10.0/rpswa.dswa.cache.json
/Celleseum.Web/obj/project.assets.json
/Celleseum.Web/obj/project.nuget.cache
/Celleseum.ApiService/appsettings.json
/Celleseum.ApiService/obj/Celleseum.ApiService.csproj.nuget.g.props
/Celleseum.ApiService/obj/Debug/net10.0/Celleseum.ApiService.assets.cache
/Celleseum.ApiService/obj/Debug/net10.0/rpswa.dswa.cache.json
/Celleseum.ApiService/appsettings.Development.json
/Celleseum.ApiService/obj/Celleseum.ApiService.csproj.nuget.g.targets
/Celleseum.ApiService/obj/Debug/net10.0/Celleseum.ApiService.GeneratedMSBuildEditorConfig.editorconfig
/.env
/compose.dev.yml
/Celleseum.AppHost/obj/Debug/net10.0/Aspire/references/Celleseum_ApiService.ProjectMetadata.g.cs
/Celleseum.AppHost/obj/Debug/net10.0/Aspire/references/Celleseum_Web.ProjectMetadata.g.cs
/Celleseum.AppHost/obj/Debug/net10.0/Aspire/references/_AppHost.ProjectMetadata.g.cs
/Celleseum.AppHost/obj/Debug/net10.0/Celleseum.AppHost.GeneratedMSBuildEditorConfig.editorconfig
/Celleseum.ServiceDefaults/obj/Debug/net10.0/Celleseum.ServiceDefaults.GeneratedMSBuildEditorConfig.editorconfig
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.genautoregisteredextensionsinputcache.cache
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.gentestingplatformentrypointinputcache.cache
/Celleseum.Tests/obj/Debug/net10.0/Celleseum.Tests.xUnit.v3.EntryPoint.cache
/Celleseum.Tests/obj/Debug/net10.0/SelfRegisteredExtensions.cs
/Celleseum.Web/obj/Debug/net10.0/EmbeddedAttribute.cs
/Celleseum.Web/obj/Debug/net10.0/ValidatableTypeAttribute.cs
